@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.header {
  padding: 11px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  font-family: "Poppins", sans-serif;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: rgb(158, 7, 7);
  cursor: pointer;
  font-size: 26px;
}

.nav-link {
  cursor: pointer;
  background-color: rgb(35, 16, 146);
  padding: 5px 30px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: white;
}
